<main class="main users chart-page" id="skip-target">
    <div class="container md">
      <div class="wrapper-upload">
        <div class="container-upload">
          <h1 class="upload-font">Download Dataset File</h1>
          <div class="upload-container">
            <div class="border-container">
              <div class="icons-upload fa-4x">
                  <div class="download-icons"></div>
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
              </div>
              <p><a id="file-unduh" style="cursor: pointer;" href="/backup/Datasetjson">Download as JSON</a> or
                  <a id="file-unduh" style="cursor: pointer;" href="/backup/Datasetcsv">Download as CSV</a> 
            </div>
          </div>
        </div>
        <div>
      </div>
      <!--Container download prediction file-->
      <div class="wrapper-upload">
        <div class="container-upload">
          <h1 class="upload-font">Download Prediction File</h1>
          <div class="upload-container">
            <div class="border-container">
              <div class="icons-upload fa-4x">
                  <div class="download-icons"></div>
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
              </div>
              <p><a id="file-unduh" style="cursor: pointer;" href="/backup/Predictionjson">Download as JSON</a> or
                  <a id="file-unduh" style="cursor: pointer;" href="/backup/Predictioncsv">Download as CSV</a> 
            </div>
          </div>
        </div>
        <div>
      </div>
    </div>
</main>

<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright: AIRMIND, Inc
  </div>
  <!-- Copyright -->
</footer>

<!-- Chart library -->
<!-- <script src="./plugins/chart.min.js"></script> -->
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="/js/script.js"></script>