<div class="main-bg">
    <p class="bottom-center poppins-regular">Welcome To Admin Dashboard</p>
</div>

<div class="container-md">
    
    <br>
    <!-- Kotak informasi nilai terakhir -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 info-box mb-3 mb-md-0">
                <p class="center">CO</p>
                <h3 id="coValue">-</h3>
            </div>
            <div class="col-12 col-md-5 info-box mb-3 mb-md-0">
                <p class="center">PM25</p>
                <h3 id="pm25Value">-</h3>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-5 info-box mb-3 mb-md-0">
                <p class="center">Temperature</p>
                <h3 id="tempValue">-</h3>
            </div>
            <div class="col-12 col-md-5 info-box mb-3 mb-md-0">
                <p class="center">Humidity</p>
                <h3 id="humValue">-</h3>
            </div>
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-primary" href="/prediction">View Prediction</a>
        </div>
    </div>
    
</div>
