<main class="main users chart-page" id="skip-target">
    <div class="container md">
      <div class="wrapper-upload">
        <div class="container-upload">
          <h1 class="upload-font">Upload Data Train File</h1>
          <div class="upload-container">
            <div class="border-container">
              <div class="icons-upload fa-4x">
                  <div class="uploads-icons"></div>
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
              </div>
              <p>Drag and drop JSON files here, or 
                  <a id="file-browser" style="cursor: pointer;">browse</a> your computer.</p>
              <input type="file" id="file-upload" name="dataset" accept=".json" style="display: none;">
            </div>
          </div>
        </div>
      </div>
          <!--Tambahkan untuk upload Data Test File-->
          <!-- Tambahkan untuk upload Data Test File -->
      <div class="wrapper-upload">
        <div class="container-upload">
          <h1 class="upload-font">Upload Data Test File</h1>
          <div class="upload-container">
            <div class="border-container">
              <div class="icons-upload fa-4x">
                  <div class="uploads-icons"></div>
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
              </div>
              <p>Drag and drop JSON files here, or 
                <a id="file-browser-test" style="cursor: pointer;">browse</a> your computer.</p>
              <input type="file" id="file-upload-test" name="dataset-test" accept=".json" style="display: none;">
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

<footer class="text-white py-3">
      
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="/" class="text-white nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="/contact" class="text-white nav-link px-2 text-muted">Contacts</a></li>
    <li class="nav-item"><a href="/about" class="text-white nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-white text-center text-muted">© 2024 AIRMIND, Inc</p>
  
</footer>

<!-- Chart library -->
<!-- <script src="./plugins/chart.min.js"></script> -->
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="/js/script.js"></script>

<script src="js/upload.js"></script>
