<div class="main-bg">
    <main>
        <div class="header-h1">
            <div class="justify-content-center d-flex flex-row align-items-center mb-3">
                <h1 class="xl-font" style="color: black;"">500!</h1>
                    <div class="error-icon warning">
                        <i class="bi bi-bug fs-1"></i>       
                    </div>
            </div>
            <h1 style="color: black;"">Internal Server Error!</h1>
        </div>
    </main>
</div>

