<div class="main-bg">
    <div>
        <h1 class="about-font poppins-bold">
           Tentang Air Pollution Monitoring System
           <hr class=" border-2 opacity-75">
        </h1>
    </div>
</div>
<div class="container">
    <br>
    <h2>Apa Itu AIRMIND ?</h2>
    <hr>
    <p class="content-text">
        AIRMIND adalah sistem pemantauan dan prediksi kualitas udara yang dirancang untuk memantau polusi udara dan memprediksi kualitas udara di lingkungan Universitas Diponegoro. 
        Sistem ini terintegrasi dengan perangkat tertanam untuk pengambilan data di lingkungan. Dengan memanfaatkan teknologi kecerdasan buatan, AIRMIND memberikan data akurat tentang tingkat polusi udara secara real-time serta prediksi untuk setiap jam mendatang.

    </p>
    <br>
    <h2>Tujuan</h2>
    <hr>
    <p class="content-text">
        Tujuan utama dari sistem ini adalah memberikan informasi kepada masyarakat terkait tingkat polusi udara di lingkungan yang diukur sehingga
        mampu memberikan kesadaran kepada masyarakat untuk menjaga kesehatan lingkungan dan diri sendiri.
        Melalui AIRMIND, kami berkomitmen untuk memberikan solusi yang inovatif dan mudah diakses, sehingga setiap orang dapat berkontribusi dalam menjaga kesehatan lingkungan dan meningkatkan kualitas hidup. Kami berharap AIRMIND dapat menjadi alat yang bermanfaat dalam upaya kolektif untuk menciptakan udara yang lebih bersih dan sehat bagi generasi sekarang dan mendatang.
    </p>
    <div class="col-md-7 about-image">
        <img src="/img/about-background2.jpg" alt="Gambar" class="img-fluid centered-image rounded-frame"" alt="">
    </div>
</div>
