.main-bg{
    background: url('/img/bg-small.jpg');
    position: relative;
    background-position:center top;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
   
    
}
.header{
    text-align: center;
    justify-content: center;
}
.bg-second{
    position: relative; /* Menggunakan posisi absolut untuk menempatkan teks */
    z-index: 1;
    margin-top: -20vh;
    padding-top: 20vh;
   
}
#i-container{
    border: solid;
    padding-left: 12%;
    padding-top: 0.5%;
}
.bottom-center {
    position: absolute; /* Menggunakan posisi absolut untuk menempatkan teks */
    bottom: 60%; /* Menempatkan teks di bagian bawah */
    left: 50%; /* Posisi horizontal di tengah */
    text-shadow: gray;
    font-size: large;
    transform: translateX(-50%); /* Membuat teks terpusat horizontal */
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.signBtn{
    background-color: #088395;
}
.info-box {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}
@media (min-width: 768px){
    .info-box + .info-box{
        margin-left: 15px;
    }
}
@media (max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}


#i-header-1{
    font-size: large;
}

.container{
    max-width: 800px;
}
