.main-bg{
    background: url('/img/air-pollution-medium.jpg');
    position: relative;
    background-position:center top;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

footer ul{
    list-style: none;
    
}

footer ul li a{
    color: white;
    text-decoration: none;
}
.overlay-container{/*Kotak transparan pada background utama*/
    background-color: rgba(128, 128, 128, 0.5);
    padding: 30px;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
}
.value-label {
    font-size: 0.8rem;
    font-weight: normal;
    
}
/* Tambahkan CSS untuk menyembunyikan konten prediksi secara default */
#predictionContent{
    text-align: center;
    display: none;
}

.header{
    text-align: center;
    justify-content: center;
}
.bg-second{
    position: relative; /* Menggunakan posisi absolut untuk menempatkan teks */
    z-index: 1;
    margin-top: -20vh;
    padding-top: 20vh;
   
}
.fail-alert{
    color: #fb4143;
    font-family: sans-serif;
    text-align: center;
}
.success-alert{
    color: #0dd157;
    font-family: sans-serif;
    text-align: center;
}

#i-container{
    border: solid;
    padding-left: 12%;
    padding-top: 0.5%;
}
.bottom-center {
    position: absolute; /* Menggunakan posisi absolut untuk menempatkan teks */
    bottom: 10%; /* Menempatkan teks di bagian bawah */
    left: 50%; /* Posisi horizontal di tengah */
    text-shadow: gray;
    font-size: large;
    transform: translateX(-50%); /* Membuat teks terpusat horizontal */
}
.link-1{
    color:white;
    background-color: #E6B9A6;
    padding: 5px;
    text-decoration: none;
    border-radius: 15px;
}
.poppins-light{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.signBtn{
    background-color: #088395;
}
/*
url image sebagai berikut:
 url('/img/svg/co-green.png'); utk kategori co yang baik
 url('/img/svg/pm25-green.png'); utk kategori pm25 yang baik
 url('/img/svg/co-yellow.png'); utk kategori co yang sedang
 dan seterusnya
*/


.info-box {
    padding: 20px;
    text-align: center;
    border: 2px solid #e4e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.nb{
    background-color:#e4e0e0;
    font-size: 11px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.icon-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.ws .icon-container{
    background-image: url('/img/pollution/windspeed.svg');
}

.temp .icon-container{
    background-image: url('/img/pollution/temperature.svg');
}

.hum .icon-container{
    background-image: url('/img/pollution/humidity.svg');
}

.info-box.green .icon-container {
    background-image: url('/img/pollution/co-green.png'); /* Hijau (Baik) */
}

.info-box.yellow .icon-container {
    background-image: url('/img/pollution/co-yellow.png'); /* Kuning (Sedang) */
}

.info-box.orange .icon-container {
    background-image: url('/img/pollution/co-orange.png'); /* Oranye (Tidak Sehat bagi Kelompok Rentan) */
}

.info-box.red .icon-container {
    background-image: url('/img/svg/co-red.png'); /* Merah (Tidak Sehat) */
}

.info-box.purple .icon-container {
    background-image: url('/img/svg/co-purple.png'); /* Ungu (Sangat Tidak Sehat) */
}

.info-box.maroon .icon-container {
    background-image: url('/img/svg/co-maroon.png'); /* Maroon (Berbahaya) */
}

.info-box.greenPM .icon-container {
    background-image: url('/img/pollution/pm25-green.png'); /* Hijau (Baik) */
}

.info-box.yellowPM .icon-container {
    background-image: url('/img/pollution/pm25-yellow.png'); /* Kuning (Sedang) */
}

.info-box.orangePM .icon-container {
    background-image: url('/img/pollution/pm25-orange.png'); /* Oranye (Tidak Sehat bagi Kelompok Rentan) */
}

.info-box.redPM .icon-container {
    background-image: url('/img/svg/co-red.png'); /* Merah (Tidak Sehat) */
}

.info-box.purplePM .icon-container {
    background-image: url('/img/svg/co-purple.png'); /* Ungu (Sangat Tidak Sehat) */
}

.info-box.maroonPM .icon-container {
    background-image: url('/img/svg/co-maroon.png'); /* Maroon (Berbahaya) */
}

@media (min-width: 768px){
    .info-box + .info-box{
        margin-left: 15px;
    }
}
@media (max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
@media (min-width: 992px){
    .icon-container{
        width: 50px;
        height: 50px;
    }
}
#i-header-1{
    font-size: large;
}
.chart-container {
    width: 100%;
    max-height: 400px; /* Atur ketinggian sesuai kebutuhan Anda */
}

/* Atur ukuran canvas agar sesuai dengan kontainer */
canvas {
    width: 100% !important;
    height: 100% !important;
}

.container{
    max-width: 800px;
}

.md{
    min-height: 100vh;
}
